*{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

body{
    background: linear-gradient(100deg,cyan,lightgreen);
}

.red{
    color: red;
}
.navbar{
        /* display: -webkit-box; */
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
}